<!DOCTYPE html>
<html>
  <%- include('partials/head', {slug: "About"}) %>
  <body class="container">
    <%- include('partials/navbar') %>
    <h1 class="mt-3">About Us</h1>
    <img
      src="movies-collage.webp"
      alt="classic movie posters collage"
      class="mt-5 w-100"
    />
  </body>
</html>
