<!DOCTYPE html>
<html>
  <%- include('../partials/head', {slug: "Register"}) %>
  <body class="container">
    <%- include('../partials/navbar') %>
    <form class="col-12 col-sm-10 col-md-6 col-lg-5 mt-5">
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="fullName" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
        />
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
        />
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
      <p>Already have an account? <a href="/auth/login">Login instead</a></p>
    </form>
  </body>
</html>
